{% extends "base.html" %}
{% block head %}  
{% load staticfiles %}
     <link rel="stylesheet" href="{% static 'css/detalles.css'%}">
{% endblock %}
{% block body%}
 <h1>No eres tú soy  yo!</h1>
    <div class="contenedor">
        <img src={{objecto.imagen.url}}>
        <div  class="info">   
            <h3><span>Nombre:</span>{{ objecto.nombres}}</h3>
            <h3><span>Edad:</span>{{ objecto.edad}}</h3>
            <h3><span>Género:</span>{{ objecto.genero}}</h3>
            <h3><span>animal:</span>{{ objecto.animal}}</h3>
            <h3><span>descripción:</span>{{ objecto.descripcion}}</h3>
        </div>    
    </div>
    <div class="botones">
    <div class ="boton"><a href="{{url.adoptar}}"><button>Quiero adoptarlo</button></a></div>
    <div class ="boton"><a href  ="{{url.pdf}}"><button>Descargar informe</button></a></div>
    </div>
{% endblock%}