{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
     <link rel="stylesheet" href="{% static 'css/detalles.css'%}">
{% endblock %}
{% block body%}
<h1>Detalles Usuario</h1>
<div class="contenedor">
<div  class="info">
    <h3><span>nombre:</span>{{ obj.nombre }}</h3>
    <h3><span>apellido:</span>{{ obj.apellido }}</h3>
    <h3><span>dirección:</span>{{ obj.direccion }}</h3>
    <h3><span>correo:</span>{{ obj.correo }}</h3>
    <h3><span>edad:</span>{{ obj.edad }}</h3>
    <h3><span>telefono:</span>{{ obj.telefono }}</h3>
</div>
</div>
<div class="botones">
    <div clas="boton"><a href="{{ url.index }} "><button>Retroceder</button></a></div>
</div>
{% endblock%}