{% extends 'base.html' %}
{% block head%}
   {% load staticfiles %}
    <title>Usuario Lista</title>
    <link rel="stylesheet" href="{% static 'css/listado.css'%}">
{% endblock%}
{% block body%}
  <h1>Listado de Usuarios</h1>
  {% for usu in obj %}
    <div class="usuario">
      {{ usu.id }} -
      <a href="{{ usu.get_absolute_url }}">{{ usu.nombre }} {{ usu.apellido }}</a>
      <a href="{{ usu.id }}/editar">Editar</a>
      <a href="{{ usu.id }}/eliminar">Borrar</a>
    </div>
  {% endfor%}
  <div class="botones">
  <div class="back"><a href="{{ url.user }} "><button>Retroceder</button></a></div>
  </div>
{% endblock%}